.body {
    background-image: url(./img/fonas.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    .all {
        display: inline-block;
        width: 800px;
        margin-left: calc(50% - 400px);
        margin-top: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: white;
    }
        .header {
            display: inline-block;
            width: 800px;
            margin-left: calc(50% - 400px);
            background-color: white;
        }
            .logo {
                display: inline-block;
                margin-left: 20px;
                margin-top: 30px;
            }
            .nuorodos {
                display: inline-block;
                margin-top: 15px;
                margin-left: 215px;
            }
                .a {
                    display: inline-block;
                    margin-left: 30px;
                    text-decoration: none;
                    color: #9C9C9C;
                }
                    .a:hover {
                        color:black;
                    }
        .main {
            display: inline-block;
            background-color: white;
            margin-top: 15px;
        }
            .text {
                display: inline-block;
                width: 40%;
                float: left;
                margin-top: 50px;
                font-size: 20px;
                line-height: 27px;
            }
                .antraste {
                    display: inline-block;
                    line-height: 45px;
                    font-size: 38px;
                    margin-bottom: -3px;
                    margin-left: 20px;
                }
                .lorem {
                    display: inline-block;
                    color: #A1A1A1;
                    margin-left: 20px;
                }
            .pagrindine {
                display: inline-block;
                width: 60%;
                float: right;
            }

    .mygtukas {
        color:white;
        text-decoration: none;
        padding: 10px;
        background-color: #5811F3;
        border-radius: 22px;
    }
        .mygtukas-platesnis {
            padding: 10px 50px;
            margin-left: 20px;
        }
    .mygtukas:hover {
        background-color: #4B46A0;
        color: black;
        box-shadow: 5px 5px 5px gray;
    }